.main{
    min-width: 1600px;
    min-height: 1200px;
    /* border: 2px solid red; */
}
.header{
    min-height: 80px;
    min-width: 800px;
    background: black;
    border-radius: 6px 6px 0px 0px;
}
.main h2{
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: white;
    margin-left: 20px;
    margin: auto;
    padding-left: 80px;
    padding-top: 10px;
    font-family: Poppins, sans-serif;
}

.back-image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.back-image h1{
    text-shadow: 5px 3px 3px #000
}
.welcome{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px black;
    top: 250px;
    /* background-color: #0c0c0b; */
}
.welcome :hover{
    opacity: 0.5;
}
.catalog{
    position: absolute;
    min-width: 45%;
    min-height: 900px;
    border: 2px solid red;
    top: 600px;
}
.catalog h3{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
}
